# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code or other IDE/editor settings
.vscode/
*.swp

# System files
.DS_Store
Thumbs.db
